@import  "../../assets/scss/theme_color.scss";
.input-icon-wrapper{
    position: relative;
    margin-bottom: 20px;
    input{
        padding: 15px 45px 15px 15px;
        &::placeholder{
            padding-right: 50px;
        }
    }
    .show-hide-icon{
        position: absolute;
        right: 0px;
        top: 0px;
        background-color: $primary-color;
        color: $white;
        width: 45px;
        line-height: 45px;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        border-radius: 5px;
        svg{
            font-size: 25px;
        }
    }
}