@import '../../assets/scss/theme_color.scss';

.main-list-card{
    border: unset;
    .card-body{
        padding: 30px;
    }
}
.block-list-wrapper{
    border-radius: 8px;
    padding: 20px;
    margin-bottom: 30px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    // &:last-child{
    //     margin-bottom: 0px;
    // }
    .type{
        color: #333;
        text-transform: capitalize;
        display: block;
        margin-bottom: 12px;
        font-size: 18px;
        line-height: 25px;
        font-weight: 500;
    }
    .block-list-para{
        text-transform: capitalize;
            color: #333;
            font-size: 16px;
            line-height: 22px;
            font-weight: 500;
    }
    .unblock-action{
        text-align: end;
        .pending-message{
            text-transform: capitalize;
            color: #333;
            margin-right: 15px;
            font-size: 18px;
            font-weight: 500;
            line-height: 25px;
                
        }
    }
}
.unblock-wrapper-tb{
    display: flex;
    align-items: center;
    justify-content: space-between;
   .unblock-badge-list{
    display: flex;
    gap: 0 15px;
    .unblock-list-data{
        cursor:  unset;
    }
   }   
}


    .react-bootstrap-table-pagination{
        .pagination.react-bootstrap-table-page-btns-ul{
                display: flex;
                justify-content: flex-end;
                .active>.page-link, .page-link.active{
                    background-color: $primary-color;
                }
        }
    }

